.buttons {
    display: flex;
    border-bottom: 3px solid #333;
}

.button1,
.button2,
.button3 {
    display: block;
    flex: 1;
    height: 40px;
    background-color: lavender;
    font-weight: 700;
    user-select: none;
    text-align: center;
    line-height: 40px;
    transition: 0.5s;
}

#tab1:checked ~ .buttons > .button1,
#tab2:checked ~ .buttons > .button2,
#tab3:checked ~ .buttons > .button3 {
    color: #fff;
    background-color: rgb(192, 192, 233);
}

.container {
    box-shadow: 0 0 10px #000;
    width: 600px;
    height: 500px;
    margin: 0 auto;
}

.content1,
.content2,
.content3 {
    display: none;
    text-align: center;
    padding-top: 100px;
}

#tab1:checked ~ .content1,
#tab2:checked ~ .content2,
#tab3:checked ~ .content3 {
    display: block;
}

#tab1, 
#tab2,
#tab3 {
    display: none;
}